music-gathering/target/
music-gathering/.mvn/
resource/
functioning.bpmn

### STS ###
music-gathering/.apt_generated
music-gathering/.classpath
music-gathering/.factorypath
music-gathering/.project
music-gathering/.settings
music-gathering/.springBeans
music-gathering/.sts4-cache

### IntelliJ IDEA ###
music-gathering/.idea
music-gathering/*.iws
music-gathering/*.iml
music-gathering/*.ipr

